@charset "UTF-8";
/* page accueil*/
h1 {
  margin: 0px;
}

.presentation {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 35px;
  padding-bottom: 20px;
  margin-bottom: 0%;
}

.presentation_titre {
  font-weight: 800;
  font-size: 20px;
  justify-content: stretch;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
}

.presentation_detail {
  align-items: center;
  text-align: center;
}

h2 {
  margin-left: 10px;
}
h2.restaumarg {
  margin-left: 20px;
}

h3 {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-left: 5px;
}

.plus {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-left: 5px;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-stretch: expanded;
  font-stretch: 100%;
}

.logo_blanc {
  margin-bottom: 20px;
  padding-top: 5px;
  font-family: "Shrikhand";
  color: white;
  font-size: 25px;
}

.blackandwhite {
  display: block;
  flex-direction: column;
  background-color: black;
  color: white;
  margin-left: 0px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-top: -5px;
}

.contact, a {
  display: flex;
  color: white;
  margin-bottom: 5px;
  margin-left: 10px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.nopuce {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: white;
}

.footicon {
  margin-right: 15px;
}

/*les logos*/
.logo,
.logo_menu {
  height: 45px;
  text-align: center;
  font-size: 30px;
  font-family: "Shrikhand";
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 667px) {
  .logo.logo_menu,
.logo_menu.logo_menu {
    height: 50px;
    text-align: center;
  }
}

/*les flèches*/
.fleche {
  margin-top: 12px;
  font-size: 25px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .fleche {
    margin-left: -30px;
  }
}

/*formulaire arrivée*/
.formulaireoù {
  display: flex;
  background-color: rgb(199, 196, 196);
  justify-content: center;
  height: 50px;
  border-top: 2px solid grey;
  width: 100%;
  padding-bottom: 5px;
}
.formulaireoù .iconegeo {
  align-items: center;
  margin-right: 20px;
  margin-top: 17px;
  font-size: 18px;
}

.lieu {
  font-size: 20px;
}

/*fonctionnement ACCUEIL*/
.fonctionnement {
  margin-left: 0px;
  margin-bottom: 15px;
  margin-top: 12px;
  padding-left: 15px;
}

.formulairechoix {
  display: flex;
  height: auto;
  padding-left: 25px;
  gap: 25px;
  position: relative;
  justify-content: center;
  margin-left: 0px;
  width: 90%;
  margin-bottom: 12px;
}
@media screen and (max-width: 667px) {
  .formulairechoix {
    flex-direction: column;
    height: 240px;
    gap: 10px;
  }
}

.numberpuce,
.numberpuce3 {
  display: flex;
  justify-content: flex-start;
  height: auto;
  margin-bottom: 15px;
  width: 95%;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 19px 19px 19px 19px;
  box-shadow: 2px 2px 2px #807d7d;
}
.numberpuce.numberpuce3,
.numberpuce3.numberpuce3 {
  color: #9356DC;
  background-color: #e3c4ed;
}

.number {
  position: absolute;
  display: flex;
  color: white;
  margin-left: -8px;
  margin-top: 12px;
  font-weight: bold;
  font-size: 10px;
  background-color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 50%;
  padding: 4px 7px 0px 7px;
  height: 17px;
  width: auto;
}

.iconechoix {
  text-align: center;
  color: #807d7d;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 14px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  padding-left: 20px;
  padding-right: 10px;
}
.iconechoix.iconetrois {
  color: #9356DC;
}

.choix {
  margin-left: 10px;
  height: auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 14px;
}

/*bouton violet*/
.explorer {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 2px 2px 2px #858383;
  font-size: 18px;
  align-items: center;
  vertical-align: middle;
  padding: 2%;
  height: 55px;
  justify-items: center;
  transform: scale(1);
  padding-top: 17px;
  background: radial-gradient(ellipse at 110% 90%, #9356DC, #FF79DA);
}
.explorer:hover {
  transform: scale(1.15);
  box-shadow: 4px 4px 4px #6b6a6a;
  opacity: 0.6;
}

body {
  font-family: "Roboto", cursive;
  margin-left: 0px;
  margin: 0px;
}

/*
.choix1
    {  
      place-items: center;
      margin-left: 10px;

      margin-bottom: 10px;
      padding-left: 10px;
        font-size: 17px;
      font-weight: bold;
      margin-top: 14px;
    } */
/*.choix a {
  margin-top: 15px;
  padding-top: 3px;
  padding-bottom: 0%;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}
*/
#menu {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 0px;
  padding-left: 0px;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #menu {
    margin-left: 0%;
    width: 100%;
    padding-right: 0%;
    padding-left: 15px;
  }
}
@media screen and (max-width: 667px) {
  #menu {
    flex-direction: column;
  }
}

.menu__card {
  margin-left: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  margin-right: 0%;
  padding-bottom: 10px;
  width: 90%;
  gap: 15px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__card {
    flex-direction: wrap;
    margin-left: 15px;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin-right: 15px;
    height: auto;
  }
}
@media screen and (max-width: 667px) {
  .menu__card {
    flex-direction: column;
  }
}

.essai {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 200px;
}

.card {
  position: relative;
  display: flex;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: red;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px #807d7d;
  width: 100%;
  height: 300px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 95%;
    justify-content: center;
  }
}

.card1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border: 2px solid rebeccapurple;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border-color: red;*/
  border-radius: 20px 20px 0px 0px;
  box-shadow: 2px 2px 2px #807d7d;
  width: 100%;
  padding-left: 0px;
}

.imgmenu {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
  margin: 0px;
}

.cardimage {
  border-radius: 20px 20px 0px 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .cardimage {
    height: 200px;
  }
}

.card__descrip {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-left: 10px;
  border: none;
  border-radius: 0px 0px 20px 20px;
  height: 90px;
  background-color: white;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card__descrip {
    height: 133px;
  }
}

.themust {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-left: 10px;
  border: none;
  border-radius: 0px 0px 20px 20px;
  height: 90px;
  background-color: white;
}

.jaime {
  position: relative;
  align-items: center;
  -webkit-animation: 5s;
          animation: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.love1 {
  position: absolute;
  overflow: hidden;
  font-size: 20px;
  opacity: 0;
  transition: 0.6s;
  transform: scale(1.1);
  background: radial-gradient(ellipse at 110% 90%, #9356DC, #FF79DA);
}

.fa-heart {
  color: transparent;
  opacity: 0;
  transition-duration: 0.5s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  /*ON DEFINI UN BACKGROUND*/
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-heart:hover.fa-heart {
  opacity: 1;
}

.descrip {
  position: relative;
  background-color: red;
}
.descrip.descrip i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: right;
  right: 10px;
  top: 50%;
}

input {
  position: absolute;
  width: 10rem;
  height: 10rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .far {
  transition-duration: 0.5s;
  opacity: 0;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .fas {
  transition-duration: 0.5s;
  opacity: 1;
}

.love {
  pointer-events: none;
  font-size: 30px;
  margin-right: 25px;
  padding-left: 0px;
}
.love.love > a {
  pointer-events: none;
}
.love.love > a :hover {
  color: palevioletred;
}

.lovemenu {
  /*  margin-right: 20px;*/
  margin-top: 20px;
  align-items: center;
  font-size: 30px;
  margin-right: 25px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .lovemenu {
    margin-right: 2px;
  }
}
.lovemenu:hover {
  color: transparent;
}

.lovepink {
  position: absolute;
  font-size: 30px;
  color: pink;
}
.lovepink:hover {
  color: pink;
}

.new {
  align-items: end;
  position: absolute;
  height: 30px;
  width: 80px;
  font-weight: bold;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  color: darken #99E2D0, 55%;
  margin-right: 15px;
  margin-top: 15px;
  display: grid;
  place-items: center;
  right: 20px;
  top: 10px;
}

/*noteenchantee*/
.entetemenu {
  margin-top: 8px;
  display: flex;
  /* flex-direction: flex-start;*/
  width: 55%;
  height: 55px;
  justify-content: space-between;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .entetemenu {
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-left: 0px;
  }
}

.titreresto {
  display: flex;
  margin-top: -20px;
  justify-content: space-around;
  vertical-align: middle;
  height: 80px;
  padding-left: 15px;
  background-color: #f2f2f2;
  border-radius: 20px 20px 0px 0px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

.nameresto {
  position: relative;
  height: 360px;
}

.detailcarte {
  display: flex;
  margin-top: -20px;
  background-color: #f2f2f2;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .detailcarte {
    flex-direction: column;
  }
}

.plat {
  margin-top: 0px;
  padding-top: 15px;
  background-color: #f2f2f2;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.repas {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 15px;
  padding-top: 5px;
  margin-bottom: 0px;
}

hr {
  margin-bottom: 15px;
  align-items: flex-start;
  border-top: 2px solid #99E2D0;
  margin-left: 12px;
  width: 34px;
  margin-top: 5px;
}

.propo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .propo {
    flex-direction: column;
    width: 92%;
  }
}

.commande {
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px 15px 15px 15px;
  height: auto;
  margin-left: 10px;
  box-shadow: 2px 2px 2px #858383;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .commande {
    padding: 0%;
    width: 98%;
    padding-left: 15px;
    align-items: flex-start;
  }
}
.commande:hover {
  box-shadow: 2px 2px 2px #383737;
}

h4 {
  padding-top: 5px;
  margin: 0%;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bolder;
  text-align: left;
}
@media screen and (max-width: 768px) {
  h4 {
    align-items: start;
    text-align: left;
  }
}

.option {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .option {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 15px;
  }
}

.complement {
  text-align: start;
  margin: 0%;
}
@media screen and (max-width: 768px) {
  .complement {
    align-self: start;
  }
}

.prix {
  text-align: end;
  font-weight: bold;
  padding-bottom: 0%;
}
@media screen and (max-width: 768px) {
  .prix {
    margin: 0%;
  }
}

.finale {
  justify-content: center;
  background-color: #f2f2f2;
  align-items: center;
  display: block;
  padding-bottom: 20px;
}

.choisissez {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: auto;
}

.jeveux {
  background-color: #f2f2f2;
  margin: 0%;
  padding: 3%;
  display: block;
  text-align: center;
}

/*FOOTER*/
/*.logo_blanc
{margin-top: 0px;
  padding-top:5px ;
 font-family: 'Shrikhand';
  color: white;
  font-size: 25px;
}
.blackandwhite
{ 
  display: block;
  flex-direction: column;
  background-color: black;
  color: white;
  margin-left:0px ;
  padding-left: 10px;
padding-bottom: 20px;

}
.contact
{
display:flex;
color: white;
margin-bottom: 5px;
margin-left: 10px;
text-decoration-line: none;
} 
  .nopuce 
  {
    text-decoration-line: none;
    color: white;

  }
    .footicon
    {
   margin-right: 15px;
}
*//*# sourceMappingURL=style.css.map */