@import "./base/titres";
@import "./Utils/variable";
@import"./layout/footer";
@import"./layout/header";
@import"./layout/intro";
@import"./composants/boutons";
@import"../Pages/blocimg";
@import"../Pages/lesmenus";

  
/* 
 .fa-heart
{ font-size: 20px; 
  opacity: 1;
  transition-duration: 0.5s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA)); 
 background-clip: text ;
 -webkit-text-fill-color: transparent; 
 &:hover.fa-heart {
   opacity: 1; 
 }
} */ 
 

/*noteenchantee*/
  
/*
.finale {
  justify-content: center;
  background-color: #f2f2f2;
  align-items: center;
  display: block;
  padding-bottom: 20px;
}
*/
.choisissez
 {
   width: 100%;
  background-color: #f2f2f2; 
  display: flex;
   flex-direction: column;
   height: auto;
 } 

/*FOOTER*/
/*.logo_blanc
{margin-top: 0px;
  padding-top:5px ;
 font-family: 'Shrikhand';
  color: white;
  font-size: 25px;
}
.blackandwhite
{ 
  display: block;
  flex-direction: column;
  background-color: black;
  color: white;
  margin-left:0px ;
  padding-left: 10px;
padding-bottom: 20px;

}
.contact
{
display:flex;
color: white;
margin-bottom: 5px;
margin-left: 10px;
text-decoration-line: none;
} 
  .nopuce 
  {
    text-decoration-line: none;
    color: white;
    
  }
    .footicon
    {
   margin-right: 15px;
}
*/