@import "./base/titres";
@import "./Utils/variable";
@import"./layout/footer";
@import"./layout/header";
@import"./layout/intro";
@import"./composants/boutons";
@import"../Pages/blocimg";

body {
  font-family: 'Roboto', cursive;
  margin-left: 0px;
  margin: 0px;
}
 a
 {
   text-decoration-line:none ;
 }
/*
.choix1
    {  
      place-items: center;
      margin-left: 10px;
      
      margin-bottom: 10px;
      padding-left: 10px;
        font-size: 17px;
      font-weight: bold;
      margin-top: 14px;
    } */
/*.choix a {
  margin-top: 15px;
  padding-top: 3px;
  padding-bottom: 0%;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}
*/
#menu {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 0px;
  padding-left:  0px;

  @media screen and (min-width: 768px) and (max-width:992px) {
    margin-left: 0%;
    width: 100%;
    padding-right: 0%;
    padding-left: 15px;
  }

  @media screen and (max-width:667px) {
    flex-direction: column;
  }
}

.menu__card
{ display: flex;
 /*position: relative;*/
  margin-left: 15px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  margin-right: 0%;
  padding-bottom: 10px;
  width: 95%;
  @media screen and (min-width: 768px) and (max-width:992px) {
    flex-direction: wrap;
    margin-left: 15px;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin-right: 15px;
    height: auto;
  }
  @media screen and (max-width:667px) {
    flex-direction: column;
    margin-right: 15px;
  }
}
 
 .globalcard
{
  display: flex;
  flex-direction: column;
margin: 0%;
width: 100%; 
height:auto;
margin-left: 15px;
@media screen and (max-width:667px) {
  margin-bottom: 15px;
  margin-right: 15px;
}
}
 
.card 
  {
    position: relative;
 margin-left: 0%;
  text-decoration-line: none;
   margin-bottom: 0px;
  border-radius: 20px 20px 00px 0px;
 /*box-shadow: 2px 2px 2px #807d7d;*/
  width: 100%;
  padding-left: 0px;
  @media screen and (min-width: 768px) and (max-width:992px) {
    width: 95%;
    justify-content: center;
  }
 
  } 
  .visible
  {
    text-decoration-line:none ;
    color: #000;
  }
.imgmenu
 {
  height: 300px;
  object-fit: cover;
  overflow: hidden; 
  width: 100%;
  margin: 0px;
}
/*
  .cardimage {
    border-radius: 20px 20px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit:cover;
    overflow: hidden;
 
    @media screen and (min-width: 768px) and (max-width:992px) {
      height: 200px;
    }
  }

*/
.card__descrip {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-left: 10px;
  border: none;
  border-radius: 0px 0px 20px 20px;
  height:auto;
  background-color: white;
  height:auto; 
  padding-bottom:8px ;
  @media screen and (min-width: 768px) and (max-width:992px) {
    height: 120px;
  }
}

.themust
{
  display: flex;
  justify-content: space-between;
  color: black;
  padding-left: 10px;
  border: none;
  border-radius: 0px 0px 20px 20px;
  height: 90px;
  background-color: white;
}
 .jaime
 {position: relative;
  align-items: center;
 
  animation: 5s;
  animation-fill-mode : forwards;
}

.love1
{
  position: absolute;
 overflow: hidden;
  font-size: 20px;
  opacity: 0;
  transition: 0.6s;
  transform: scale(1.1);
  background: radial-gradient(ellipse at 110% 90%, $colour-first, $colour-secondary);
}
 .fa-heart
{ color: black;
  opacity: 0;
  transition-duration: 0.5s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));/*ON DEFINI UN BACKGROUND*/ 
 background-clip: text ;
 -webkit-text-fill-color: transparent;
 
 &:hover.fa-heart {
   opacity: 1;
 }
} 
.descrip
{ position: relative; 
background-color: red;
&.descrip i
{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: right;
  right:10px;
  top: 50%;
}
}
input{
  position: absolute;
  width: 10rem;
  height: 10rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .far {
  transition-duration: 0.5s;
  opacity: 0;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .fas{
  transition-duration: 0.5s;
  opacity: 1;
}

 
.love
{
  pointer-events: none;
  font-size: 30px;
    margin-right: 25px;
    padding-left: 0px;
    &.love >a {pointer-events: none;
   & :hover {
     color: palevioletred;
   }}
}
.lovemenu {
/*  margin-right: 20px;*/
  margin-top: 20px;
  align-items: center;
  font-size: 30px;
    margin-right: 25px;
    padding-left: 0px;
  
  @media screen and (min-width: 768px) and (max-width:992px) {
    margin-right: 2px;
  }

    &:hover {
      color: transparent;
     
    }
 }   
.lovepink
{position: absolute;
  font-size: 30px;
  color:pink;

  &:hover {color: pink;
  }
} 
.new {
  align-items: end;
  position: absolute;
  height: 30px;
  width: 80px;
  font-weight: bold;
  border: 1px solid $colour-tertiaire ;
  background-color: $colour-tertiaire;
  color : $colour-noyau;
  margin-right: 15px;
  margin-top: 15px;
  display: grid;
  place-items: center;
  right: 20px;
  top: 10px;
}

/*noteenchantee*/
.entetemenu {
  margin-top: 8px;
  display: flex;
  /* flex-direction: flex-start;*/
  width: 55%;
  height: 55px;
  justify-content: space-between;
  margin-left: 20px;

  @media screen and (max-width: 768px) {
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-left: 0px;
  }
}

 
.titreresto {
  display: flex;
  margin-top: -20px;
  justify-content: space-around;
  vertical-align: middle;
  height: 80px;
  padding-left: 15px;
  background-color: #f2f2f2;
  border-radius: 20px 20px 0px 0px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

.nameresto {
  position: relative;
  height: 360px;
}

.detailcarte {
  display: flex;
  margin-top: -20px;
  background-color: #f2f2f2;
  justify-content: center;
width: 100%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.plat {
  margin-top: 0px;
  padding-top: 15px;
  background-color: #f2f2f2;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

.repas {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 15px;
  padding-top: 5px;
  margin-bottom: 0px;
}

hr {
  margin-bottom: 15px;
  align-items: flex-start;
  border-top: 2px solid $colour-tertiaire;
 margin-left: 12px;
  width: 34px;
  margin-top: 5px;
  
}

.propo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 92%;
  }
}

.commande { 
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px 15px 15px 15px;
  height: auto;
  margin-left: 10px;
  box-shadow: 2px 2px 2px $colour-gris;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media screen and (max-width: 768px) {
    padding: 0%;
    width: 98%;
    padding-left: 15px;
    align-items: flex-start;
  }

  &:hover {
    box-shadow: 2px 2px 2px darken($colour-gris,30%);
  }
}

h4 {
  padding-top: 5px;
  margin: 0%;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bolder;
  text-align: left;
 
  @media screen and (max-width: 768px) {
    align-items: start;
    text-align: left;

  }
}

.option {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-bottom: 15px;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 15px;
  }
}

.complement {
  text-align: start;
  margin: 0%;
 
  @media screen and (max-width: 768px) {
    align-self: start;
  }
}

.prix {
  text-align: end;
  font-weight: bold;
  padding-bottom: 0%;

  @media screen and (max-width: 768px) {
    margin: 0%;
  }
}

.finale {
  justify-content: center;
  background-color: #f2f2f2;
  align-items: center;
  display: block;
  padding-bottom: 20px;
}
.choisissez
 {
   width: 100%;
  background-color: #f2f2f2; 
  display: flex;
   flex-direction: column;
   height: auto;
 } 
.jeveux
{
  background-color: #f2f2f2;
  margin: 0%;
  padding:3% ;
  display: block;  
  text-align: center;
} 
/*FOOTER*/
/*.logo_blanc
{margin-top: 0px;
  padding-top:5px ;
 font-family: 'Shrikhand';
  color: white;
  font-size: 25px;
}
.blackandwhite
{ 
  display: block;
  flex-direction: column;
  background-color: black;
  color: white;
  margin-left:0px ;
  padding-left: 10px;
padding-bottom: 20px;

}
.contact
{
display:flex;
color: white;
margin-bottom: 5px;
margin-left: 10px;
text-decoration-line: none;
} 
  .nopuce 
  {
    text-decoration-line: none;
    color: white;
    
  }
    .footicon
    {
   margin-right: 15px;
}
*/