@charset "UTF-8";
body {
  font-family: "Roboto", cursive;
  margin: 0px;
}

h1 {
  margin: 0%;
}

.logo, .logo_menu {
  height: 45px;
  text-align: center;
  font-size: 30px;
  font-family: "Shrikhand";
  margin-top: 5px;
  margin-bottom: 5px;
}
.logo.logo_menu, .logo_menu.logo_menu {
  height: 50px;
  margin-left: 141px;
}

.formulaireoù {
  display: flex;
  background-color: rgb(199, 196, 196);
  justify-content: center;
  height: 50px;
  border-top: 2px solid grey;
  width: 100%;
  padding-bottom: 5px;
}
.formulaireoù .iconegeo {
  align-items: center;
  margin-right: 20px;
  margin-top: 17px;
  font-size: 18px;
}

.lieu {
  font-size: 20px;
}

.presentation {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 35px;
  padding-bottom: 20px;
  margin-bottom: 0%;
}

.presentation_titre {
  font-weight: 800;
  font-size: 20px;
  justify-content: stretch;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
}

.presentation_detail {
  align-items: center;
  text-align: center;
}

.explorer {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
  font-size: 18px;
  align-items: center;
  margin: 7px;
  height: 57px;
  transform: scale(1);
  background: linear-gradient(-11deg, rgba(147, 86, 220, 0.6) 44%, rgba(255, 121, 218, 0.6) 79%);
}
.explorer:hover {
  transform: scale(1.15);
}

/*main
{
  margin-right: 15px;
  margin-left: 15px;
}*/
.fonctionnement {
  margin-left: 15px;
}

.formulairechoix {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 240px;
  margin-left: 25px;
  width: 80%;
}

.numberpuce {
  display: flex;
  justify-content: flex-start;
  height: 55px;
  margin-bottom: 15px;
  width: 95%;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 2px 2px 2px #807d7d;
  transform: scale(1);
}
.numberpuce:hover {
  transform: scale(1.1);
  background-color: #DCA4ED;
  color: #9356DC;
}

/*
.choix1
    {  
      place-items: center;
      margin-left: 10px;

      margin-bottom: 10px;
      padding-left: 10px;
        font-size: 17px;
      font-weight: bold;
      margin-top: 14px;
    } */
.choix a {
  margin-top: 20px;
  padding-bottom: 0%;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -moz-text-decoration-line: none;
}

.choix {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 14px;
}
.choix:hover {
  background-color: #DCA4ED;
}

.number {
  position: absolute;
  display: flex;
  color: white;
  margin-left: -8px;
  margin-top: 12px;
  font-weight: bold;
  font-size: 10px;
  background-color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 50%;
  padding: 4px 7px 0px 7px;
  height: 17px;
  width: auto;
}

.iconechoix {
  text-align: center;
  color: #807d7d;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 14px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  padding-left: 20px;
  padding-right: 10px;
}
.iconechoix:hover {
  color: #DCA4ED;
}

/*main*/
h2 {
  margin-left: 15px;
}

h3, .plus {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-left: 5px;
}
h3.plus, .plus.plus {
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-stretch: expanded;
  font-stretch: 100%;
}

#menu {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

.menu__card {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.card {
  display: flex;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: red;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px #807d7d;
  width: 92%;
  position: relative;
}

.imgmenu, .card__image {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 120%;
}
.imgmenu.card__image, .card__image.card__image {
  border-radius: 20px 20px 0px 0px;
  height: 200px;
  width: 100%;
}

.card__descrip {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-left: 10px;
  border: none;
  border-radius: 0px 0px 20px 20px;
  height: 90px;
  background-color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.love, .lovemenu {
  margin-right: 20px;
  margin-top: 20px;
  align-items: center;
  font-size: 30px;
}
.love.lovemenu, .lovemenu.lovemenu {
  margin-right: 25px;
  padding-left: 0px;
}

.new {
  align-items: end;
  position: absolute;
  height: 30px;
  width: 80px;
  font-weight: bold;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  color: darken #99E2D0, 35%;
  margin-right: 15px;
  margin-top: 15px;
  display: grid;
  place-items: center;
  right: 20px;
  top: 10px;
}

.entetemenu {
  margin-top: 8px;
  display: flex;
  flex-direction: flex-start;
  width: 100%;
  height: 55px;
  justify-content: center;
}

.fleche {
  margin-top: 12px;
  font-size: 25px;
}

.titreresto {
  display: flex;
  margin-top: -20px;
  justify-content: space-around;
  vertical-align: middle;
  height: 100px;
  padding-left: 15px;
  background-color: #f2f2f2;
  border-radius: 20px 20px 0px 0px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

.nameresto {
  position: relative;
  height: 360px;
}

/*FOOTER*/
.logo_blanc {
  margin-top: 0px;
  padding-top: 5px;
  font-family: "Shrikhand";
  color: white;
}

.blackandwhite {
  display: block;
  flex-direction: column;
  background-color: black;
  color: white;
  margin-left: 0px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.contact {
  display: flex;
  color: white;
  margin-bottom: 5px;
  margin-left: 10px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.nopuce {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: white;
}

.footicon {
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */