@import ".variable";
html{
    font-family: 'Roboto';
  }
  .logo_principal
  {   
     text-align: center;
     font: size 50px;
     font-family: 'Shrikhand'
  }
  .formulaireoù
  {   
      display: flex;
      background-color:darkgrey ;
      justify-content: center;
      height: 50px;
      border-top: 2px solid grey;
      width:100%;
  }
  .iconegeo
{
font-size: 25px;
margin-top: 12px;
margin-right: 20px; 
font-size: 17px;

}
  .geol
  {
height: 50px;
font-size: 17px;
font-weight: 400;
background-color: darkgrey;
justify-items: center;
 width: 70%;
  }
  .presentation
  {
    text-align: center;
    /*background-color: #f2f2f2;*/
    padding-bottom: 35px;
  }
  .presentation_titre
  {
    font-weight: 800;
    font-size: 20px;
    justify-content: center;
    width: 50%;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
  }
  .presentation_detail
  {
    align-items: center;
    text-align: center;
  }
  .boutonexplorer
  {
    height: 41px;
    align-items: center;
    background-color: #9356DC;
    border: 2px solid #9356DC;
    border-radius: 20px 20px 20px 20px;
  }
  .explorer
  {
    color: white;
    border: none;
    background-color: #9356DC;
    font-size: 16px;
    align-items: center;
    margin: 7px;
  }
  .presentation button
{
   color: white;
  border:1px solid blue;
  background-image: linear-gradient(to right blue, red) ;
}
main
{margin-right: 15px;
margin-left: 15px;
}
  .fonctionnement 
   {
    display:flex ; 
    flex-direction: column;
    width: 100%;
    background-color: white;
    
   } 
   h2
   {
     text-align: left;
   }
   /*.boutonchoix
   {
     display: flex;
     width: 80%;
     flex-direction: row;
    
   } */
  /*.formulairechoix
  {
    display: flex;
    flex-wrap: nowrap;
    height: 45px ;
   flex-direction: row;
     flex-grow: 1 1 320px;
    margin-bottom:20px;
    margin-top: 15px;
    width: 300px; 
   /* .formulairechoix__violet
    {
      background-color: #a887cf;
      
    }*/
  /*}*/
  /*.number
  {
    position: relative; 
    color: white;
    font-weight: bold;
    font-size: 10px;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 50%;
    padding:4px 7px 0px 7px;
    height: 17px;
    width: auto;
  }*/
   /*
  .formulaireicone
  {
    margin-left: -15px;
    padding-right:0px;
    padding-left: 25px;
    padding-top: 2px;
    padding-bottom:10px;
    background-color: #f2f2f2;
    border-radius: 25px 0px 0px 25px;
    height: 35px;
    width: 70%;
    border: 2px solid #f2f2f2;   
  }*/ 

  .numberpuce
  {
    display: flex;
    list-style-type: none;
    justify-content: row;
    align-items: center;
    height: 42px;
  margin-bottom:22px ;
  margin-top: 15px;
  padding-top: 3px;
  width:95%;
  }
   .number
  {
    position: relative; 
    margin-top: 13px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 50%;
    padding:4px 7px 0px 7px;
    height: 17px;
    width: auto;
  } 
  .formulaireicone

  { margin-left:-12px;
    border: 1px solid #f2f2f2 ;
    border-radius: 25px 0px 0px 25px;
    height: 52px;
    margin-top: 16px;
  padding-left: 15px;
    background-color:#f2f2f2;
    padding-top: 0px;
    padding-bottom: 2px;
    justify-content: center;
  }
.violet
{margin-left:-12px;
  border: 1px solid #DCA4ED ;
  border-radius: 25px 0px 0px 25px;
  height: 52px;
  margin-top: 16px;
padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 2px;
  justify-content: center;
  background-color: #DCA4ED; 
}
  .iconechoix
  { 
     
    font-size: 26px;
     margin-left:10px;
     margin-top: 10px;
    padding-top:3px;
    padding-bottom: 0px;
    margin-bottom: 2px; 
    padding-left: 12px;
    padding-right: 10px;
    width: 20%}
  .iconetrois   
        {
      color: #9356DC;
          }  
  .choix
  {
    padding-right: 30px;
    margin-bottom: 0px;
    padding-top: 14px;
    padding-left: 20px;
    height: 41px; 
    justify-content: center;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
  border-radius:0px 25px 25px 0px;
  } 
  .choixtrois
  {
    padding-right: 30px;
    margin-bottom: 0px;
    padding-top: 14px;
    padding-left: 20px;
    height: 41px; 
    justify-content: center;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #DCA4ED;
    background-color: #DCA4ED;
  border-radius:0px 25px 25px 0px;
  } 
  /*main*/
  .menu{
    background-color: #f6f6f6;
    display: block;
  }
.card
{
  border: 2px solid black;
  height: 40rem;
  & .card__image {
    background-image: url("./assert/palette.jpg");
    height: 15rem;
    background-size: cover;
  }
}

/*
  .photoseule
  {
    width :92%;
    object-fit: contain;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
  }*/
  /*# sourceMappingURL=style.css.map */
