@import "./variable";
body{
    font-family: 'Roboto', cursive;
    margin: 0px;
  }
  .logo 
  {   
     text-align: center;
     font-size: 50px;
     font-family:'Shrikhand'; 
   
    }
  .formulaireoù
  {   
      display: flex;
      background-color:rgb(199, 196, 196) ;
      justify-content: center;
      height: 50px;
      border-top: 2px solid grey;
      width:100%;  
      padding-bottom: 5px;  
    .iconegeo
      {
      align-items: center;
      margin-right: 20px;
      margin-top: 17px; 
      font-size: 18px;  
    }
  }
 .lieu{
   font-size: 20px;
 }
 
  .presentation
  {
    text-align: center;
    background-color: #f2f2f2;
    padding-top:35px;
    padding-bottom: 20px;
    margin-bottom: 0%;
  }
  .presentation_titre
  {
    font-weight: 800;
    font-size: 20px;
    justify-content: stretch;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
  }
  .presentation_detail
  {
    align-items: center;
    text-align: center;
  }
  .explorer
  {
    color: white;
    border: none;
    cursor:pointer;
 border-radius: 20px 20px 20px 20px;
    font-size: 18px;
    align-items: center;
    margin: 7px;
   height: 57px;
   transform: scale(1);
    background: linear-gradient(-11deg,rgba(147,86,220,0.6) 44%, rgba(255,121,218,0.6) 79%);
    &:hover{
      transform: scale(1.15);
    }
}
/*main
{
  margin-right: 15px;
  margin-left: 15px;
}*/
 /* .fonctionnement */
  /* {
     display: flex; 
     flex-direction: column;   
    /* align-items: center; */

  .formulairechoix
  {  
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height:240px ;
   margin-left: 10px;
    width: 80%; 
  }
.numberpuce
{
  display: flex;
  justify-content: flex-start;
  height: 55px;
  margin-bottom:15px ;
  width:95%;
  border: 1px solid #f2f2f2  ;
 background-color: #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 2px 2px 2px #807d7d;
  transform: scale(1); 
         &:hover{  
   transform:scale(1.1); 
     background-color: $colour-primary-clair ;
     color:$colour-first;
    }
}
 .choix a{
  margin-top:20px;
  padding-bottom: 0%;
  -moz-text-decoration-line: none;

}

    .choix
    { margin-left: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      padding-left: 10px;
        font-size: 17px;
      font-weight: bold;
      margin-top: 14px;
    &:hover
    {
       background-color: $colour-primary-clair ;
    }
  }
  .number
  {position: absolute; 
    display: flex;
    color: white;
    margin-left: -8px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 10px;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 50%;
    padding:4px 7px 0px 7px;
    height: 17px;
    width: auto;
  }
  
.iconechoix
{ text-align: center;
  color: #807d7d;
  font-size: 25px;
   margin-left:20px;
   margin-top: 14px; 
  padding-bottom: 0px;
  margin-bottom: 2px; 
  padding-left: 20px;
  padding-right: 10px;
 &:hover
  {
     color: $colour-primary-clair ;
  }
} 
  /*main*/
h2 
{
margin-left: 15px;
} 
#menu
  {
background-color: #f2f2f2;
display: flex;
flex-direction: column;
width: 100%;
padding-bottom:30px ;
margin-bottom: 0px;
  }
.menu__card
{ 
  margin-bottom:10px;
    display: flex;
    flex-direction: column;
    background-color:#f2f2f2  ;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.card
 {
  display: flex;
 flex-direction: column;
border: 2px solid black;
 margin-top: 10px;
 margin-bottom: 10px;
 border-color: red;
 border-radius: 20px 20px  20px 20px;
 box-shadow: 2px 2px 2px #807d7d; 
 width: 92%;
} 
.card__image 
{
     height: 200px;
   object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  }
.card__descrip
{
  display: flex;
  justify-self: space-between;
  color: black;
  padding-left: 10px;
  border: none;  
  border-radius:  0px 0px 20px 20px;
  height:90px;
  background-color: white;
      &.card__descrip
      {
        text-decoration-style: none;
      }
}
.love
{margin-left:230px;
 margin-top:20px ;
 align-items: center;
  font-size: 30px;
 
}

/*  .new
{    
  justify-content: center;
  position: relative;
  height: 30px; 
  width: 80px ;
  font-weight: bold;
  border: 1px solid $colour-olive ;
  background-color: $colour-olive;
  color: $colour-olive-noyau;
  margin-right: 15px;
  margin-top: 15px;
  padding-top: 3px;
}
 .new::before
{}
   

.card_new
{
  position: relative;
  display:flex;
justify-items: stretch;
 flex-direction: row;
border: 1px solid #807d7d;
}
.card_descrip
{
  display: flex;

}
*/

/*FOOTER*/  
.logo_blanc
{margin-top: 0px;
  padding-top:5px ;
 font-family: 'Shrikhand';
  color: white;
}
.blackandwhite
{ 
  display: block;
  flex-direction: column;
  background-color: black;
  color: white;
  margin-left:0px ;
  padding-left: 10px;
padding-bottom: 20px;
}
.contact
{
display:flex;
color: white;
margin-bottom: 5px;
margin-left: 10px;
} 
  .nopuce 
  {
    text-decoration: none;
    color: white;
    
  }
    .footicon
    {
   margin-right: 15px;
}

 
