$colour-first:#9356DC ;
$colour-secondary: #FF79DA; 
$colour-tertiaire:#99E2D0;
$colour-primary-clair:#e3c4ed;
$colour-olive:rgb(165, 199, 165);
$colour-olive-noyau:rgb(44, 62, 44);
$colour-gris:#858383;
$colour-noyau:darken(#9356DC, 30%)

 