.logo_blanc
{margin-bottom: 20px;
  padding-top:5px ;
 font-family: 'Shrikhand';
  color: white;
  font-size: 25px;
}
.blackandwhite
{ 
  display: block;
  flex-direction: column;
  background-color: black;
  color: white;
  margin-left:0px ;
  padding-left: 10px;
padding-bottom: 20px;

}
.contact
{
display:flex;
color: white;
margin-bottom: 5px;
margin-left: 10px;
text-decoration-line: none;
} 
  .nopuce 
  {
    text-decoration-line: none;
    color: white;
    
  }
    .footicon
    {
   margin-right: 15px;
}
