@import"../Utils/variable";

header
 
{
    display: flex;
flex-direction: column;
}
.blocloader
{ 
width:100%;
height: 100%;
  position: fixed   ;
  justify-content: center;
  background-color:#FFFFFF80 ;
  align-items: center;
  animation: spinner 0.2s ;
  animation-delay: 2.5s;
  animation-fill-mode: both;
 
}
.loader
{display: block;
 justify-content: center; 
  animation-name:spin;
  border: 16px solid $colour-first;
  border-bottom: 16px solid $colour-tertiaire;
  border-top: 16px solid $colour-secondary;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s  ease-in-out;
 animation-iteration-count: 5;
 align-items: center;
 margin:0px;
 position:center;
 margin-right: 20px;
@keyframes spin {
  0%
   { 
    transform: rotate(0deg); 
  }

  100% 
  { transform: rotate(360deg); }
}

}
@keyframes spinner 
{
  100%
  {
     opacity: 0;
     z-index: -1;
  }
}
 

/*les logos*/
.logo,
.logo_menu {
  height: 45px;
  text-align: center;
  font-size: 30px;
  font-family: 'Shrikhand';
  margin-top: 5px;
  margin-bottom: 5px;

  &.logo_menu {
    @media screen and (max-width:667px) {
      height: 50px;
      text-align: center;
    }
  }
}
/*les flèches*/

.fleche {
    margin-top: 12px;
    font-size: 25px;
    color: #000;
    @media screen and (max-width: 768px) {
      margin-left: -30px;
    }
  }
  
/*formulaire arrivée*/

.formulaireoù {
    display: flex;
    background-color: rgb(199, 196, 196);
    justify-content: center;
    height: 50px;
    border-top: 2px solid grey;
    width: 100%;
    padding-bottom: 5px;
  
    .iconegeo {
      align-items: center;
      margin-right: 20px;
      margin-top: 17px;
      font-size: 18px;
    }
  }

  .lieu {
    font-size: 20px;
  }

 

