/*bouton violet*/
.explorer {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 2px $colour-gris;
    font-size: 18px;
    align-items: center;
    vertical-align: middle;
    padding:2%;
    height: 55px;
    justify-items: center;
    transform: scale(1);
    padding-top: 17px;
    background: radial-gradient(ellipse at 110% 90%, $colour-first, $colour-secondary);
    &:hover {
      transform: scale(1.15);
      box-shadow: 4px 4px 4px darken($colour-gris,10%);
      opacity:0.6;
    }
  }
  .jeveux
{
  background-color: #f2f2f2;
  margin: 0%;
  padding:3% ;
  display: block;  
  text-align: center;
} 
/*coeurs accueil*/
  .love
{
  position: relative;
 overflow: hidden;
color: #000;
  font-size: 20px;
  opacity: 1;
  z-index: 1;
  transition: 0.6s;
  transform: all;
 
  &:hover {
    opacity: 0;
transform: scale(0.2);
  } 
}
.love1
{ position: absolute;
  display: block;
 background-image: radial-gradient(ellipse at 110% 90%, $colour-first, $colour-secondary);
  z-index: 2;
  opacity: 0;
transition: 0.6s;
font-size: 20px;
transform: all;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 
&:hover{
  opacity: 1;
  transform: scale(1.2);
}
}

.jaime
{position: relative;
 align-items: center;
 color: #000;
 animation: 5s;
 animation-fill-mode : forwards;
justify-content: center;
}
  /*COEURS MENUS*/
.lovemenu
{
   
 position: relative;
color: #000;
  font-size: 30px;
  opacity: 1;
  z-index: 1;
  transition: 0.6s;
  transform: all;
 padding-top : 20px; 
  &:hover {
    opacity: 0;
transform: scale(0.2);
  } 
}
 
.lovepink
{ position: absolute;
  display: block;
 background-image: radial-gradient(ellipse at 110% 90%, $colour-first, $colour-secondary);
  z-index: 2;
  opacity: 0;
transition: 0.6s;
font-size: 30px;
transform: all;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 margin-top:15px;
top: 3px;
&:hover{
  opacity: 1;
  transform: scale(1.2);
}
}
 