/* page accueil*/
h1 {
  margin: 0px;
}


.presentation {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 35px;
  padding-bottom: 20px;
  margin-bottom: 0%;
}

.presentation_titre {
  font-weight: 800;
  font-size: 20px;
  justify-content: stretch;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
}

.presentation_detail {
  align-items: center;
  text-align: center;
}

h2 {
  margin-left: 10px;
  &.restomarg{
    margin-left: 25px;
  }
}

h3
{
  font-family: 'Shrikhand';
  font-size: 18px;
  margin-left: 5px;
}

.plus {
  font-family: 'Shrikhand';
  font-size: 18px;
  margin-left: 5px;
  font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-stretch: expanded;
    font-stretch: 100%;
  }
 

  .repas {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 15px;
    padding-top: 5px;
    margin-bottom: 0px;
  }
   
hr {
  margin-bottom: 15px;
  align-items: flex-start;
  border-top: 2px solid #99E2D0 ;
 margin-left: 12px;
  width: 34px;
  margin-top: 5px;  
}
