/* page accueil*/
@import "../Utils/variable";
h1 {
  margin: 0px;
}
body {
  font-family: 'Roboto', cursive;
  margin-left: 0px;
  margin: 0px;
}
 a
 {
   text-decoration-line:none ;
 }
 

.presentation {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 35px;
  padding-bottom: 20px;
  margin-bottom: 0%;
}

.presentation_titre {
  font-weight: 800;
  font-size: 20px;
  justify-content: stretch;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
}

.presentation_detail {
  align-items: center;
  text-align: center;
}

h2 {
  margin-left: 10px;
  &.restomarg{
    margin-left: 25px;
  }
}

h3
{
  font-family: 'Shrikhand';
  font-size: 18px;
  margin-left: 5px;
}
   
.imgmenu
 {position: relative;
  height: 300px;
  object-fit: cover;
  overflow: hidden; 
  width: 100%;
  margin: 0px;
}
 
.titreresto { 
  position: relative;
  display: flex;
  margin-top: -20px;
  justify-content: space-around;
  vertical-align: middle;
  height: 60px;
  padding-left: 15px;
  background-color: #f2f2f2;
  border-radius: 20px 20px 0px 0px;
  padding-top: 20px;
 
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

.nameresto {
  position: relative;
  height: 360px;
}

.plus {
  font-family: 'Shrikhand';
  font-size: 18px;
  margin-left: 5px;
  font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-stretch: expanded;
    font-stretch: 100%;
  }
 
  .entetemenu {
    margin-top: 8px;
    display: flex;
    /* flex-direction: flex-start;*/
    width: 55%;
    height: 55px;
    justify-content: space-between;
    margin-left: 20px;
  position: relative;
    @media screen and (max-width: 768px) {
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      margin-left: 0px;
    }
  }
  
  .repas {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 15px;
    padding-top: 5px;
    margin-bottom: 0px;
&::after {width: 70%;}
  }
   
hr {
  margin-bottom: 15px;
  align-items: flex-start;
  border-top: 2px solid $colour-tertiaire; 
 margin-left: 12px;
 width: 40px;
  margin-top: 5px;  
 
}
