 .detailcarte {
   display: flex;
   margin-top: -20px;
   background-color: #f2f2f2;
   justify-content: center;
   width: 100%;

   @media screen and (max-width: 768px) {
     flex-direction: column;
   }
 }

 .choisissez {
   width: 100%;
   background-color: #f2f2f2;
   display: flex;
   flex-direction: column;
   height: auto;
 }

 .plat {
   display: flex;
   flex-direction: column;
   margin-top: 0px;
   padding-top: 15px;
   background-color: #f2f2f2;
   gap: 20px;
   margin-left: 20px;
   margin-right: 20px;
   overflow: hidden;
   animation-name: arrivee;
   animation-duration: 5s;

   animation-delay: 1ms;
   animation-timing-function: ease-in-out;
   animation-iteration-count: 1;

   @keyframes arrivee {
     from {
       transform: translateY(200px);
       opacity: 0;
     }

     to {
       transform: translateY(10px);
       opacity: 1;
     }
   }
 }

 .propo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;

   @media screen and (max-width: 768px) {
     flex-direction: column;
     width: 92%;
   }
 }

 .commande {
   display: flex;
   position: relative;
   flex-direction: column;
   width: 100%;
   align-items: flex-start;
   margin-bottom: 15px;
   padding: 5px;
   /* background-color: white;
   border: 1px solid white;*
   box-shadow: 2px 2px 2px $colour-gris;*/
   border-radius: 15px 15px 15px 15px;
   height: 55px;
   margin-left: 10px;
   justify-content: space-between;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   @media screen and (max-width: 768px) {
     padding: 0%;
     width: 98%;
     padding-left: 15px;
     align-items: flex-start;
   }

   /*
   &:hover {
     box-shadow: 2px 2px 2px darken($colour-gris, 30%);
   }*/
 }

 .greenanim {
   display: flex;
   position: relative;

   width: 300px;
   align-items: flex-start;
   margin-bottom: 15px;
   padding: 5px;
   background-color: white;
   border: 1px solid white;
   box-shadow: 6px 4px 4px $colour-gris;
   border-radius: 15px 15px 15px 15px;
   height: 55px;
   margin-left: 10px;
   margin-right: 10px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   &:hover {
     box-shadow: 2px 2px 2px darken($colour-gris, 30%);
   }
 }

 h4 {
   width: 100%;
   padding-top: 0px;
   margin-top: 2px;
   margin-bottom: 4px;
   margin-top: 5px;
   font-size: 16px;
   font-weight: bolder;
   text-align: left;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   @media screen and (max-width: 768px) {
     align-items: start;
     text-align: left;

   }
 }

 .complement {
   display: block;
   text-align: start;
   margin: 0%;
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   @media screen and (max-width: 768px) {
     align-self: start;
   }
 }


 .euro {
   margin-left: 10px;
 }

 .prix {
   display: block;
   max-width: 20%;
   text-align: end;
   font-weight: bold;
   flex-direction: flex-end;
   align-items: flex-end;
   padding-bottom: 10px;
   transition-property: transform;
   margin-left: 20px;
   transition-duration: 2.5s;

   @media screen and (max-width: 768px) {
     margin-left: 20px;

   }
 }

 .greenanim:hover .prix {
   transform: translateX(00px);
   margin-right: -10px;
   transition-duration: 2.4s;
   transition-timing-function: ease-in-out;

 }

 .greenanim:hover .commande {
   max-width: 50%;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }
 